* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    color: #fff;
}

html, body {
    height: 100%;
    width: 100%;
    cursor: none;
}

.cursor{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: fixed;
    background-color: #EDBFFF;
    z-index: 8;
    mix-blend-mode: difference;
    transition: background-image ease 0.5s;
    background-position: center;
    background-size: cover;
}

.cursor-video{
    height: 10px;
    width: 40px;
    border-radius: 20%;
    position: fixed;
    background-color: #EDBFFF;
    z-index: 8;
    mix-blend-mode: difference;
    font-size: 8px;
    text-align: center;
}

#purple{
    height: 100vh;
    width: 100vw;
    top: 0;
    position: fixed;
    z-index: 100;
    background-color: #EDBFFF;
    display: none;
    opacity: 0;
    transition: opacity ease-in-out 1s;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* overflow: hidden; */
}

#purple-container{
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    overflow-x: auto;
    animation: spin 30s infinite linear;
}

#purple h1{
    flex: 0 0 3em;
    display: inline-block;
    margin: 0;
    padding: 0;
    /* gap: 10%; */
    font-size: 5em;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
    
}

.main{
    background-color: #0f0D0D;
    cursor: none;
}

.page1{
    min-height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 9;
    padding-top: 12vw;
}

#nav{
    height: 60px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    mix-blend-mode: difference;
    z-index: 102;
}

#nav img{
    height: 26px;
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#nav #circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
}

#nav h4{
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}

#nav h4:nth-child(1){
    border-bottom: 1.5px solid #fff;
}

.page1 h1{
    font-size: 8vw;
    font-weight: 300px;
    
    margin-left: 6vw;

}

.page1 h2{
    font-size: 8vw;
    font-weight: 300px;
    margin-left: 26vw;
}

.page1 video{
    width: 60%;
    margin-top: 5vw;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);

}

.page2{
    min-height: 80vh;
    width: 100%;
    padding: 100px 5vw;
    border-bottom: 2px solid #111;
    position: relative;
    z-index: 9;
    
}

.page2 h1{
    font-size: 7vw;
    font-weight: 500;
    color: #111;
}

.page2-container{
    height: 60vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 5vw; */
}

.page2-left{
    /* background-color: blue; */
    width: 38%;
}

.page2-right{
    /* background-color: blue; */
    width: 28%;
}

.page2-left h2{
    font-size: 3vw;
    font-weight: 300;
    color: #111f;
    line-height: 4vw;
}

.page2-right p{
    font-size: 18px;
    line-height: 22px;
    color: #111;
}

.page2-right button{
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 4px 0;
    background-color: #EDBFFF;
    color: black;
    margin-top: 20px;
}

.page3{
    min-height: 130vh;
    width: 100%;
    padding: 100px 5vw;
    /* border-bottom: 2px solid #111; */
    position: relative;
    padding-top: 100px;
    z-index: 9;
    
}

.page3 h1{
    font-size: 6vw;
    color: #111;
    margin-left: 100px;
    font-weight: 400;
}

.page3-part1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.page3-part1 img{
    height: 400px;
    margin-top: 180px;
    width: 600px;
}

.page3-part1 video{
    height: 400px;
    /* margin-left: 400px; */
    width: 300px;
    /* x: -80px; */
}

.page3-part2{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.page3-part2 img{
    height: 400px;
    margin-top: 180px;
    width: 600px;
}

.page3-part2 video{
    height: 400px;
    /* margin-left: 400px; */
    width: 300px;
    /* x: -80px; */
}

.page4{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
}

.elem{
    /* background-color: salmon; */
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.elem img{
    position: absolute;
    opacity: 0;
    transition: all ease-out 0.5s;
    transform: translateY(10%) rotate(2deg);
}
.elem img:nth-child(1){
    left: 6%;
    height: 40vh;
    width: 26vw;
}
.elem img:nth-child(3){
    right: 5%;
    height: 50vh;
    width: 30vw;
}
.text-div{
    height: 16vh;
    position: relative;
    z-index: 9;
    overflow: hidden;
}
.elem h1{
    font-size: 7.5vw;
    font-weight: 600;
    transition: all ease-out 0.5s;
}

.elem:hover h1{
    transform: translateY(-100%);
    color: #EDBFFF;
}
.elem:hover img{
    opacity: 1;
    transform: translateY(0%) rotate(0deg);

}

.page5{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 100px 100px;
}

.page5 h2{
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 50px;
}

.box{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 20px;
    border-top: 2px solid #dadada;
}

.box:nth-last-child(1){
    border-bottom: 2px solid #dadada;
}

/* footer{
    height: 90vh;
    width: 100%;
    background-color: #EDBFFF;
} */